.SynologyDrive/
.Xauthority
.bash_history
.bash_logout
.bash_profile
.bashrc
.cabal/
.cache/
.cargo/
.config/.mono/
.config/JetBrains/
.config/KeePass/
.config/QtProject.conf
.config/Signal/
.config/Thunar/
.config/VirtualBox/
.config/aurutils/
.config/autostart/
.config/bpytop/
.config/brittany/
.config/calibre/
.config/cargo/
.config/cef_user_data/
.config/chromium/
.config/cowsay/
.config/dconf/
.config/discord/
.config/docker/
.config/emacs/
.config/filelightrc
.config/filezilla/
.config/flameshot/
.config/gtk-2.0/
.config/java/
.config/kdeconnect/
.config/keepassxc/
.config/libreoffice/
.config/lutris/
.config/menus/
.config/mimeapps.list
.config/neofetch/
.config/noisetorch/
.config/nordvpn/
.config/pavucontrol.ini
.config/pipewire/
.config/plex.tv/
.config/pulse/
.config/qalculate/
.config/spicetify/
.config/spotify/
.config/swi-prolog/
.config/systemd/
.config/vlc/
.config/xfce4/
.config/zsh/.zcompdump
.config/zsh/.zsh_history
.dia/
.emacs.d_/
.fehbg
.ghc/
.gnupg/
.icons/
.java/
.jd/
.lesshst
.local/
.m2/
.mozilla/
.nordnm/
.npm/
.pki/
.pulse-cookie
.putty/
.ssh/
.tor-browser/
.vim/
.viminfo
.viminfo.tmp
.wget-hsts
.wine/
.zsh_history
Documents/
Downloads/
Keepass/
Pictures/
Universitaet
VirtualBox\ VMs/
aur/
dotfiles/
